In [27]:
import pandas as pd

weather = pd.read_csv('weather_data.csv')
weather['date'] = pd.to_datetime(weather['date'])
name_changes = {'temperature_2m_mean': 'temp',
                'sunshine_duration': 'sun_time',
                'precipitation_sum': 'precip',
                'rain_sum': 'rain',
                'snowfall_sum': 'snow', 
                'precipitation_hours': 'precip_time',
                'wind_speed_10m_max': 'max_wind',
                'wind_gusts_10m_max': 'max_gust'}
weather .rename(columns=name_changes, inplace=True)

# change sun time from seconds to hours
weather['sun_time'] = weather['sun_time'].div(3600)
weather

,Unnamed: 0,date,temp,sun_time,precip,rain,snow,precip_time,max_wind,max_gust
0,0,2020-01-01 00:00:00+00:00,-18.335835,6.498644,0.0,0.0,0.00,0.0,18.940240,38.160000
1,1,2020-01-02 00:00:00+00:00,-14.796252,6.521414,0.0,0.0,0.00,0.0,16.563911,34.920000
2,2,2020-01-03 00:00:00+00:00,-12.354584,6.532903,0.0,0.0,0.00,0.0,21.243050,44.639996
3,3,2020-01-04 00:00:00+00:00,-11.810834,6.572684,0.0,0.0,0.00,0.0,17.643673,34.920000
4,4,2020-01-05 00:00:00+00:00,-13.287917,1.124392,0.5,0.0,0.35,5.0,11.570515,22.319998
...,...,...,...,...,...,...,...,...,...,...
1823,1823,2024-12-28 00:00:00+00:00,-14.802499,5.707946,0.0,0.0,0.00,0.0,11.616627,25.919998
1824,1824,2024-12-29 00:00:00+00:00,-14.679585,6.044656,0.0,0.0,0.00,0.0,17.160524,35.640000
1825,1825,2024-12-30 00:00:00+00:00,-12.994166,6.475750,0.3,0.0,0.21,3.0,17.134071,38.519997
1826,1826,2024-12-31 00:00:00+00:00,-13.308749,4.641474,0.2,0.0,0.14,2.0,21.659916,47.160000
1827,1827,2025-01-01 00:00:00+00:00,-15.131667,6.517094,0.0,0.0,0.00,0.0,20.696085,44.639996

In [28]:
weather['year'] = weather['date'].dt.year

weather['month'] = weather['date'].dt.month

weather = weather.groupby(['year','month']).agg({'temp':'mean',
                                       'sun_time':'sum',
                                       'precip':'sum', 
                                       'precip':'max', 
                                       'rain':'sum',
                                       'snow':'sum',
                                       'precip_time':'sum',
                                       'precip_time':'max',
                                       'max_wind':'max',
                                       'max_gust':'max'})

In [31]:
weather

                 temp    sun_time     precip       rain       snow  \
year month
2020 1     -15.551492  202.104002   1.200000   0.000000   1.750000
     2     -12.447759  232.689579   2.400000   0.200000   3.290000
     3      -4.958011  300.117568   1.500000   0.000000   3.150000
     4       4.261389  344.448867   3.500000   1.100000   3.640000
     5       9.592191  282.202980  11.200000  37.699999   0.350000
...               ...         ...        ...        ...        ...
2024 9       8.793056  291.735892   7.900000  28.100000   0.490000
     10     -0.623468  244.536153  14.400001   3.600000  14.350001
     11     -8.574930  148.400370   6.300000   0.000000  13.440001
     12    -16.570107  186.737269   0.500000   0.000000   1.050000
2025 1     -15.131667    6.517094   0.000000   0.000000   0.000000

            precip_time   max_wind   max_gust
year month
2020 1             12.0  24.490585  52.920000
     2             15.0  23.344550  50.399998
     3              6.0  45.845966  95.399994
     4             13.0  34.966362  74.880000
     5             20.0  41.216460  86.760000
...                 ...        ...        ...
2024 9              8.0  35.413826  76.679990
     10            17.0  36.827930  73.079994
     11            17.0  24.864119  56.880000
     12             5.0  26.121714  56.880000
2025 1              0.0  20.696085  44.639996

[61 rows x 8 columns]